.groups {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  font-weight: 400;
  font-size: 1.4em;
}

.cards {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4em;
}

.card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #d7dee365;
  padding: 2em;
  box-sizing: border-box;
  margin: 2em 3em;
}

.up {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardName {
  font-weight: 600;
  font-size: 1.6em;
  text-transform: capitalize;
  margin: 0.5em 0;
  color: var(--colorDark);
  position: relative;
  --width: 0%;
}

.cardName:hover {
  color: var(--colorFG);
  --width: 100%
}

.cardName::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: solid 2px var(--colorFG);
  width: var(--width);
  transition: all 0.3s ease-in;
}

.cardDetail {
  font-weight: 500;
  font-size: 1em;
  margin: 0.4em 0;
}

.btn {
  background: var(--colorSuccess);
  padding: 0.5em 1.5em;
  width: 100%;
}

.btn svg {
  width: 1em;
  margin-left: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  box-sizing: border-box;
  padding: 2em;
}

.formBtn {
  composes: btn;
  margin-top: 1.5em;
}

.addBtn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: none;
  color: var(--colorGray);
}

.addBtn:hover {
  color: var(--colorShadow);
}

.addBtn > svg {
  margin-bottom: 1em;
  width: 3em;
}

.delBtn {
  composes: formBtn;
  background: var(--colorAccent);
}

.ph {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trashBtn {
  background: transparent;
  color: var(--colorGray);
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.trashBtn > svg {
  height: 1.2em;
}

.trashBtn:hover {
  color: var(--colorDanger);
}
