.logreg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picasso {
  width: 40%;
  height: 100%;
  background: url(../../Assets/images/picasso.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 8em 4em;
}

.tagline {
  font-weight: 700;
  font-size: 3.5em;
  margin: 0;
  color: var(--colorBG);
  position: relative;
}

.bell {
  position: absolute;
  top: -0.3em;
  left: -0.8em;
  height: 0.8em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.btn {
  background: transparent linear-gradient(285deg, #f80a76 0%, #c7117d 57%, #951783 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 17px 33px 57px #95178347;
  border-radius: 10px;
  font-size: 1.4em;
  padding: 0.6em 3.5em;
  margin: 1em 0;
}

.btn > svg {
  margin-left: 1em;
}

.heading {
  color: var(--colorBrand);
  font-size: 4em;
  font-weight: 600;
  margin: 0;
}

.para {
  color: var(--colorShadow);
  margin: 1em 0;
}

.para > a {
  text-decoration: underline;
  color: var(--colorAccent);
}

.hr {
  width: 48%;
  margin: 2em 0 1em 0;
}
