.home {
  width: 84%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 5%;
}

.heading {
  color: var(--colorBrand);
  font-size: 3.8em;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin: 0;
}

.accent {
  color: var(--colorAccent);
  position: relative;
}

.accent::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  border-bottom: solid 2px var(--colorAccent);
}

.para {
  color: var(--colorAccent);
  margin: 4em 0;
  line-height: 2em;
  /* width: 90%; */
  font-size: 1.2em;
}

.btn {
  font-weight: 600;
}

.arrow {
  margin-left: 1.5em;
}

.hero {
  height: 90%;
  box-sizing: border-box;
  padding-top: 8em;
}

@media only screen and (max-width: 800px)  {
  .home {
    flex-direction: column;
    height: unset;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .heading {
    font-size: 2.5em;
    margin-top: 22vh;
  }

  .para {
    margin: 2.5em 0;
  }

  .hero {
    padding: unset;
    height: unset;
    width: 60vw;
    margin: 5vh 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .heading {
    font-size: 3em;
  }
  
  .accent::after {
    bottom: 5px;
  }
}

