.input {
  width: 100%;
  box-sizing: border-box;
  padding: 1.2em 2em;
  background-color: #eef4fe;
  border: none;
  /* border: solid 1px transparent; */
  border-radius: 8px;
}

.error {
  /* border-color: var(--colorDanger); */
  background-color: #fde5e5;
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .input {
    font-size: 0.8em;
  }
}
