.btn {
  border: none;
  border-radius: 6px;
  background: var(--colorBrand);
  color: var(--colorBG);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.14);
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: max-content;
}

.regular {
  font-size: 1.1em;
  padding: 0.9em 2em;
}

.large {
  font-size: 1.4em;
  padding: 0.9em 2em;
}
